nav {
  display: flex;
  align-content: space-between;
  text-align: center;
}

nav > div {
  flex: 1;
}

.title {
  align-content: center;
  text-align: center;
}

#logo {
  margin-left: 30px;
}

.search {
  text-align: right;
}

.links {
  text-align: center;
  display: flex;
  align-content: space-around;
}

.links > p {
  flex: 1;
  margin-top: 0;
  align-content: space-between;
}

#myImage {
  margin-left: 70px;
  margin-top: 50px;
  max-width: 300px;
}
.inputForm {
  margin-left: 70px;
}

#sky {
  margin-left: 30px;
  max-width: 100px;
  max-height: 100px;
}
